---
title: Comfort Care Craddle
layout: 'base.njk'
---




<!-- =============== LANDING PAGE ============== -->
<section class="section-hero" id="hero">
    <div class="container wrapper">
        <div class="hero-container">
            <div class="hero-text">
                <h3>Welcome to</h3>
                <span class="hero-name">Comfort Craddle Care</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem autem recusandae ab laudantium facere nostrum expedita at cupiditate</p>
                <div>
                    <a href="#section-contact" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="/assets/hero-img.png" alt="Baby Care" class="about-img">
            </div>

            <a href="#about" class="scroll-down">
                    <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </a>
        </div>
    </div>
</section>



<!-- =============== SECTION TESTIMONIAL ================= -->
<section class="section-testimonials" id="testimonials">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">testimonials</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here is what some client have to say</h2>
        </div>

        <div class="testimonials-container">
            <div class="testimonial fade">
                <img src="/assets/images/testimonial-1.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
                <p class="testimonial__text">"Building a website. I thought to myself, how, where and from whom would I be able to get a simple, elegant website. Well, I worried until I found out a dear friend who gave his all in making this a reality for me. A person open and willing to listen and willing to learn to be able to provide the best for you  are qualities that best suits him."</p>
            </div>
            <div class="testimonial fade">
                <img src="/assets/images/testimonial-2.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Albert Owusu</h4>
                <p class="testimonial__text">"Sarfo has helped me build my personal brand both online and offline and has also directed me to deliver picture and performance-driven video creative content with excellent results. He is the best, and I strongly recommend him to anyone who is interested in branding, communications, or social development.  "</p>
            </div>

            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">
                <i class="fa fa-chevron-left"></i>    
            </a>
            <a class="next" onclick="plusSlides(1)">
                <i class="fa fa-chevron-right"></i>
            </a>
            
        </div>
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>
</section>



{# ========================= FAQs ================= #}
<section class="section-faq" id="section-faqs">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary mb-50 text-center">Frequently Asked Questions (FAQs)</h2>
        <button class="accordion main-acc one">About Comfort Craddle Care</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">Lorem ipsum dolor sit.</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque similique modi a velit, ab minima?</p>
            </div>
            <button class="accordion sub-acc">Who can work with Comfort Care Craddle for?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corporis tempora nostrum vel dicta quasi veniam sint placeat dignissimos? Voluptates!</p>
            </div>
            <button class="accordion sub-acc">How can Comfort Care Craddle help me advance my career?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum ipsa earum hic. Quae animi maxime quas consectetur nemo repellendus vel, quos voluptatibus architecto deserunt!.</p>
            </div>
            <button class="accordion sub-acc">How does Comfort Care Craddle ensure security?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam est neque voluptates magni? Itaque, veniam tempore, officia fuga id perspiciatis blanditiis culpa atque cum natus, officiis harum temporibus a.</p>
            </div>
        </div>
        <button class="accordion main-acc two.'">Lorem ipsum dolor sit amet.</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, provident.</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus obcaecati dolorum tempore nihil sapiente eaque non vero, dolores est. Repudiandae quasi odio debitis incidunt maxime ducimus, ratione aut officia ad?</p>
            </div>
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam animi consequuntur delectus cumque, molestias amet!</p>
            </div>
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cum pariatur soluta assumenda expedita sunt earum minus, tempora, dolore eos aut natus iste, vel incidunt perferendis obcaecati iure!</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, nulla alias dolores doloribus, facilis pariatur ipsa ad autem laboriosam quas, vero deserunt nesciunt culpa? Sapiente aspernatur repellendus placeat molestias veniam?</p>
            </div>
            <button class="accordion sub-acc">How do I become a member of Project Unforgotten?</button>
            <div class="panel sub-panel">
                <p>To become a member of Project Unforgotten, simply visit our membership page and choose the membership option that best fits your needs.</p>
            </div>
            <button class="accordion sub-acc">Can I join Project Unforgotten if I'm not currently working in Kumasi</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita voluptate, libero deleniti nesciunt, aspernatur, aliquam labore maxime ipsum sed dolore cumque perspiciatis corrupti commodi at dignissimos alias beatae porro..</p>
            </div>
        </div>
    </div>
</section>
